#boby {
	margin: 0;
	padding: 0;
	min-width: 320px;
    font-size: 1em;
    font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
    color: #000;
}
.kh-title{
	position: relative;
    background: #efefef ;
    background-size: 100% 44px;
    min-height: 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px 0
}
.tit-limg{
	
	position: absolute;
    width: 40px;
    height: 44px;
    text-align: center;
}
.tit-limg span{
	left: 20px;
    top: 10px;
}
.tit-cen{
	margin: 0 50px;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.tit-rimg{
	display: inline-block;
	position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 44px;
    overflow: hidden;
}
.tit-limg span{width: 20px;
    height: 20px;
    background-position: -60px 0;
    margin: 12px 10px 0 10px;
}
h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
}    
h2{
	font-size: 15px;
	font-weight: normal;
}
.wl{
	width: 119px;
	line-height: 20px;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #F1F1F5;
}
.cart-pop{
	background-color: #3d3c3b;
	opacity: 0.8;
	border: 1px solid #3d3c3b;
	color: #ffffff;
	width: 238px;
	height: 104px;
	position: absolute; 
}
.wl{
	color: #ffffff;
}
#cart{
	display: none;
	position: absolute; 
	bottom: 50%;
 	z-index: 9999;
  	left: 50%;
  	transform: translate(-50%, 50%);  
}


.vehiclebox-title{
	margin: 0 10px;
	line-height: 41px;
	display: block;
}
.cred{
	color:#ff6b6b;
	font-size: 13px;
	font-weight: bold;
}
.h3{
	font-size: 1em;
}
.pl70{
	padding-left: 70px;
}
.bb{
	border-bottom: 1px solid #dedede;
}
.bt{
	border-top: 1px solid #dedede;
}
.bred{
	border: 1px solid #f29e9e;
	color: #f24b48;
}
a{
	color: #000;
    text-decoration: none;
}
.btn {
    line-height: 34px;
    width: 95%;
    text-align: center;
    background-color: #fd6161;
    color: #f1f1f1;
    margin: 0 auto;
}
.p-name{
	font-size: 13px;
    font-weight: 400;
    line-height: 13px;
}
h5 {
    display: block;
    font-size: 0.83em;
}
.bg02 {
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    padding-left: 4px;
    padding-right: 4px;
}
.o-price {
    color: #9c9c9c;
}
.total{
	margin: 15px 0;
	font-size: 13px;
}
.centent{
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.close{
	display: none;
}
.boby2-imgc{
	display: inline-block;
}
.boby2-imgw{
	float: left;
}
.centent{
	background-color: #FFFFFF;
}
.body{
	background-color: #f1f1f5;
}
.gray{
	color: #81838e;
}
.lh40{
	line-height: 40px;
}
.disnone{
	display: none;
}
